table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

table td {
    border: 1px solid black; 
    padding: 20px;
    text-align: center;
    
}

table tr:hover{
    
    background: orange;
}

table td:hover{
    
    background: black;
    color: white;
    
}